### Import libraries

In [4]:
import prestodb  
import datetime
import pandas as pd

import prestodb  
import datetime
import pandas as pd

def makeconn(hstb,uname,pswd):
    return prestodb.dbapi.connect(
    host=hstb,
    port=443,
    user=uname.strip(),
    catalog='geospock',
    schema='default',
    http_scheme='https',    
    auth=prestodb.auth.BasicAuthentication(uname.strip(), pswd.strip())
    )
    
def runquery(cnn,cls,querytext):
    sttime = datetime.datetime.now()
    print("Starting query at: "+str(sttime)+".....")
    cur = cnn.cursor()
    cur.execute(querytext)
    rows = cur.fetchall()
    cur.close()
    endtime = datetime.datetime.now()
    print("Finished query at: "+str(endtime)+".")
    tdelt=(endtime-sttime).seconds
    print("Query duration: "+str(tdelt)+" seconds.")
    print("Rows returned: "+str(len(rows)))
    return pd.DataFrame(rows,columns=cls)

### Create connection object

In [5]:
# Remember to change GeoSpockDBDiscoveryHostname for its respective value
#e.g. discovery.companyname.com
# username and password are to be left with these default values
host            = """GeoSpockDBDiscoveryHostname"""
username       = 'username'
password       = ''
#this command returns the connection object but there's no visible printed output
newconn        = makeconn(host, username, password)

### Explore datasets

In [6]:
QUERY_tables = """
SHOW TABLES 
FROM geospock.default
"""
cls     = ['tables']
tables = runquery(newconn,cls,QUERY_tables)
tables

Starting query at: 2020-10-10 15:46:13.013107.....
Finished query at: 2020-10-10 15:46:34.395982.
Query duration: 21 seconds.
Rows returned: 17

                     tables
0        sg_air_temperature
1   sg_erp1_camera_location
2         sg_erp2_synthesis
3   sg_planning_area_census
4                   sg_pm25
5                    sg_psi
6               sg_rainfall
7          sg_region_census
8      sg_relative_humidity
9          sg_road_segments
10           sg_speed_bands
11    sg_speed_laser_camera
12        sg_subzone_census
13     sg_taxi_availability
14     sg_traffic_incidents
15        sg_wind_direction
16            sg_wind_speed

In [8]:
QUERY_describe = """
DESCRIBE geospock.default.sg_erp2_synthesis
"""
cls           = ['column', 'type', 'extra', 'comment']
describe_erp2 = runquery(newconn,cls,QUERY_describe)
describe_erp2

Starting query at: 2020-10-10 15:46:57.721065.....
Finished query at: 2020-10-10 15:47:04.144666.
Query duration: 6 seconds.
Rows returned: 5

              column       type extra          comment
0          longitude     double        LONGITUDE index
1           latitude     double         LATITUDE index
2     erp_vehicle_id    varchar               Nullable
3          timestamp  timestamp             TIME index
4  erp_vehicle_types    varchar               Nullable

In [9]:
QUERY_tables = """
SELECT *
FROM geospock.default.sg_erp2_synthesis
LIMIT 10
"""
cls         = ['longitude', 'latitiude', 'vehicle_id', 'timestamp', 'vehicle_type']
sample_erp2 = runquery(newconn,cls,QUERY_tables)
sample_erp2

Starting query at: 2020-10-10 15:47:04.157541.....
Finished query at: 2020-10-10 15:47:10.805909.
Query duration: 6 seconds.
Rows returned: 10

,longitude,latitiude,vehicle_id,timestamp,vehicle_type
0,103.754783,1.389394,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:44.442,Car
1,103.754721,1.389510,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:45.442,Car
2,103.754803,1.389662,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:46.442,Car
3,103.754721,1.389758,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:47.442,Car
4,103.754717,1.389890,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:48.442,Car
5,103.754718,1.390024,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:49.442,Car
6,103.754619,1.390176,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:50.442,Car
7,103.754536,1.390318,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:51.442,Car
8,103.754624,1.390444,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:52.442,Car
9,103.754568,1.390569,10027cdf5eadf374ca01726cc4877c90,2019-01-06 09:56:53.442,Car